doctype html 
html 
    h1 <i class="fas fa-fan"></i> 무야호 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    link(rel="stylesheet", href="styles.css")
    script(src="../../front.js") 