extends layouts/main 

block content 
    h3 join page 
        form(id="join", action="/success", method="post") 
            input(id="id", type="text", placeholder="ID", required=true)
            br
            input(id="pw", type="password", placeholder="Password", required=true)
            input(id="pw2", type="password", placeholder="Verify Password", required=true)
            br
            input(type="submit", value="JOIN")