doctype html 
html 
    include includes/head.pug 
    body 
        h3 join page 
        form(id="join", action="/success", method="post") 
            input(id="id", type="text", placeholder="ID")
            br
            input(id="pw", type="password", placeholder="PW")
            input(id="pw2", type="password", placeholder="pw를 한 번 더 입력하세요")
            br
            input(type="submit", value="JOIN")